.navbar-brand div {
  display: flex !important;
  flex-direction: row !important; 
  flex-wrap: nowrap !important;    
  align-items: center !important;
  height: 100%;
}

.brand-text {
  font-family: "Times New Roman", Times, serif !important;
  
  font-weight: 500 !important;
  
  font-size: 2.2rem !important;
  
  letter-spacing: -1px !important;
  
  color: #ffffff !important;

  display: inline-block !important;
  white-space: nowrap !important; 
  margin-left: 10px !important;
  margin-top: 20px !important;
  line-height: 1;
}

@media (max-width: 768px) {
  .brand-text {
    font-size: 1.6rem !important;
    letter-spacing: -0.5px !important;
  }
}
 










.navbar {
  height: 80px !important;   
  display: flex;
  align-items: center;      
  padding: 0 1rem;
  background-color: #053F5C !important;
  z-index: 1000;
  overflow: hidden;         
}

.logo-img {
  height: 60px;            
  width: auto;              
  object-fit: contain;      
  transition: 0.3s;
  flex-shrink: 0;

}

@media (min-width: 992px) {
  .logo-img {
    height: 70px;         
}
}


.side-menu {
  position: fixed;
  top: 0;
  right: -100%; 
  width: 280px;
  height: 100vh;
  background-color: #053F5C;
  z-index: 1050;
  transition: 0.4s ease-in-out;
  box-shadow: -5px 0 15px rgba(0,0,0,0.3);
}

.side-menu.active {
  right: 0;
}

.navbar-nav .nav-link:hover {
  color: orange !important;
  transition: color 0.3s ease;
}

.menu-link:hover {
  color: orange !important;
  transition: color 0.3s ease;
  padding-left: 5px; 
}


.menu-link {
  text-decoration: none;
  
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1040;
}