.navbar {
  height: 80px;           
  overflow: hidden;       
}

.logo {
  height: 150px;        
  width: auto;
}
.side-menu{
  position: fixed;
  top:0;
  right:-260px;
  width:260px;
  height:100vh;
  background:#053F5C;
  transition:0.3s;
  z-index:2000;
}

.side-menu.active{
  right:0;
}

.menu-link{
  color:white;
  text-decoration:none;
  font-size:18px;
}

.nav-link:hover{
  color:#F7AD19 !important;
  transition:0.3s;
}

.menu-link:hover{
  color:#F7AD19;
  transition:0.3s;
}

